$bg-primary: #2563eb;
$bg-primary-hover: #3b82f6;
$bg-primary-active: #1d4ed8;
$text-primary: #ffffff;

$bg-secondary: #ffffff;
$bg-secondary-hover: #f3f4f6;
$bg-secondary-active: #e5e7eb;
$text-secondary: #334155;

$text-xs: 8px;
$text-sm: 12px;
$text-md: 16px;
$text-lg: 20px;
$text-xl: 36px;
$text-xxl: 48px;

$bg-base-color: #e2e8f0;
$bg-base-color-hover: #cbd5e1;
$text-base-color: #334155;
$text-base-color-hover: #1a202c;

$browser-context: 16;